@mixin doubleFontSize($size: 16px) {
  @if $size <= 30 {
    font-size: $size*2;
  } @else {
    font-size: $size;
  }
}

@mixin borderRadius($tl, $tr, $br, $bl) {
  border-top-left-radius: $tl;
  border-top-right-radius: $tr;
  border-bottom-right-radius: $br;
  border-bottom-left-radius: $bl;
}

@mixin pxToRem($px, $base: 16) {
  $rem: $px / $base;
  font-size: #{$rem}rem;
}
